<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="luoe.demo.web.dao.EmailMapper">
    <!--<resultMap id="BaseResultMap" type="luoe.demo.web.entity.Email">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="report_name" property="report_name" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="TIME"/>
        <result column="create_time" property="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>-->
    <select id="query" parameterType="INTEGER" resultType="luoe.demo.web.entity.Email">
        select * from email WHERE id=#{id}
    </select>

    <!--    <select id="query" resultMap="BaseResultMap">
            select * from email where true
            <if test="report_name != null">
                and  `report_name` like concat('%',#{report_name},'%')
            </if>
            ORDER BY create_time DESC
        </select>-->

    <select id="queryAll" resultType="luoe.demo.web.entity.Email">
        select * from email
    </select>

    <insert id="save" parameterType="luoe.demo.web.entity.Email">
        insert into email
        (
        report_name,
        time,
        create_time
        )
        values
        (
        #{report_name},
        #{time},
        sysdate()
        )
    </insert>
</mapper>