<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!-- MyBatis针对SqlServer进行的配置 -->
    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer" />
        <typeAlias alias="Long" type="java.lang.Long" />
        <typeAlias alias="CHAR" type="java.lang.String"/>
        <typeAlias alias="HashMap" type="java.util.HashMap" />
        <typeAlias alias="email" type="luoe.demo.entity.Email"/>
        <typeAlias alias="user" type="luoe.demo.entity.User"/>
        <typeAlias alias="record" type="luoe.demo.entity.Record"/>

        <!--<typeAlias alias="user" type="com.sse.demo.entity.User"/>-->

    </typeAliases>


</configuration>